body{
    min-width: 700px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    height: 100%
    font-family: sans-serif;
    background-color: #ffffff;
    	background-image: url("https://www.rgo.ru/sites/default/files/styles/full_view/public/20.02.2014_ilya_melnikov_moskva_0.jpg?itok=CZ--BHfl");
      background-repeat: no-repeat;

}

.Title{
	font-size:x-large;
	font-family: Verdana, sans-serif;
	font-variant: small-caps;
    margin-left: 400px; 
    margin-top: 20px;
    font-size: 45px;
   font-weight: 30;
}

.Warn{
	
	font-family: Verdana, sans-serif;
	font-variant: small-caps;
    margin-left: 1000px; 
    margin-top: 200px;
    font-size: 7px;
   font-weight: 2;
   color: #ff0000;
}

* {box-sizing: border-box;}
form {
  position: relative;
border-radius: 10px;

  margin: 0 auto;
}

input {
  width: 500px;
  height: 42px;
  padding-left: 15px;
  border: 3px solid #fff4b9;
  font-size:medium;
  margin-left: 450px;
  margin-top: 20px;
}
button {
	height: 50px;
	width: 70px;
	font-variant: small-caps;
    cursor:pointer;
	background: linear-gradient(to top, #e3ffff 28.81%, #ffffff 52.84%, #befbff 97.21%);
	border-radius: 20%;
	margin-top: 20px;
}


input:focus {
  border-color: NONE;
  background-color: #fff4b9;
}





span{
    color: red;
    
}






@media screen and (min-device-width: 1000px)
{
    .Header {
        width: 90%;
        margin-left: -10px;
        margin-top: 40px;
    }

    .MainBody {
        width: 95%;
    }

    .InfoTemperature {
        padding-left: 0px;
        padding-right: 0px;
    }
}
